@import '~bootstrap/scss/bootstrap';

body {
  background-color: #ffce54;
}
h1, legend, label, p, form {
  color: #d65352;
}


.container {
  height: 100vh;
}

.game-board {
  margin: auto;
  max-height: calc(100vh - 75px);
  max-width: calc(100vh - 75px);
}

.game-square {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
  border-bottom: 1px solid black;

  &:nth-child(3n) {
    border-right: 0;
  }

  &:nth-last-child(-1n + 3) {
    border-bottom: 0;
  }

  min-height: calc(100% / 3);
  font-size: 15vh;
  user-select: none;
}
